# Ignore generated and compressed files
project_minimal.zip
project_structure.txt
project_structure.zip

# Node.js
node_modules/

# Python
venv/
__pycache__/

# Build Files
build/
dist/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE Settings
.vscode/
.idea/
